In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('buyouts_funds_csv/buyouts_fundManagers_funds.csv')

In [4]:
df.head()

,fm_id,id,name,vintageYear,regions,sectors,strategies,fundSize.amount,fundSize.currency,targetFundSize.amount,targetFundSize.currency
0,6381,6420,Ascent Venture Partners II,1995.0,North America,TMT,Venture Capital / Growth Equity,80000000.0,USD,0.0,USD
1,6381,8305,Ascent Venture Partners IV,2004.0,North America,TMT,Venture Capital / Growth Equity,140000000.0,USD,0.0,USD
2,6381,9222,Ascent Venture Partners V,2008.0,North America,TMT,Venture Capital / Growth Equity,81750000.0,USD,81750000.0,USD
3,6381,12856,Ascent Venture Partners III,1999.0,North America,TMT,Venture Capital / Growth Equity,115000000.0,USD,0.0,USD
4,6381,34846,Ascent Venture Partners VI,2015.0,North America,TMT,Venture Capital / Growth Equity,71050000.0,USD,150000000.0,USD

In [5]:
df.columns = [
    'fm_id',
    'fund_id',
    'fund_name',
    'vintage_year',
    'region',
    'sector',
    'strategy',
    'fund_size_amt',
    'fund_currency',
    'target_fund_size_amt',
    'target_fund_size_currency',
    
]

In [6]:
df.shape[0]

30594

In [7]:
df['fm_fund_history_id'] = np.random.randint(1,df.shape[0] , df.shape[0])

In [8]:
list_of_columns = df.columns.tolist()

In [9]:
list_of_columns.insert(0, list_of_columns.pop(-1))

In [10]:
df = df.reindex(columns=list_of_columns)

In [11]:
df.head()

,fm_fund_id,fm_id,fund_id,fund_name,vintage_year,region,sector,strategy,fund_size_amt,fund_currency,target_fund_size_amt,target_fund_size_currency
0,13177,6381,6420,Ascent Venture Partners II,1995.0,North America,TMT,Venture Capital / Growth Equity,80000000.0,USD,0.0,USD
1,20214,6381,8305,Ascent Venture Partners IV,2004.0,North America,TMT,Venture Capital / Growth Equity,140000000.0,USD,0.0,USD
2,14443,6381,9222,Ascent Venture Partners V,2008.0,North America,TMT,Venture Capital / Growth Equity,81750000.0,USD,81750000.0,USD
3,4241,6381,12856,Ascent Venture Partners III,1999.0,North America,TMT,Venture Capital / Growth Equity,115000000.0,USD,0.0,USD
4,22137,6381,34846,Ascent Venture Partners VI,2015.0,North America,TMT,Venture Capital / Growth Equity,71050000.0,USD,150000000.0,USD

In [12]:
df.drop('fund_name', axis = 1, inplace = True)

In [13]:
df['vintage_year'] = df['vintage_year'].fillna(0)

In [14]:
df['vintage_year'] = df['vintage_year'].astype(int)

In [16]:
df.to_csv('buyouts_funds_csv/buyouts_fm_fund_history.csv', index = False)

In [31]:
df2 = pd.read_csv('buyouts_funds_csv/buyouts_funds_uncleaned.csv')

In [32]:
df2.head()

,fund_id,name,manager,managerId,sectors,vintageYear,regions,countries,status,strategies,yearOpen,targetFundSize.amount,targetFundSize.currency,monthOpen,fundSize.amount,fundSize.currency,stage,yearClose,monthClose
0,34866,Ascent Venture Partners VII,Ascent Venture Partners,6381,TMT,2020.0,North America,United States,Launched,Venture Capital / Growth Equity,2020.0,150000000.0,USD,NaN,NaN,NaN,NaN,NaN,NaN
1,36284,Fall Line Endurance Fund (Open-Ended),Fall Line Capital,15168,TMT,2019.0,North America,United States,Currently Investing,Venture Capital / Growth Equity,2016.0,NaN,NaN,7.0,285000000.0,USD,NaN,NaN,NaN
2,36284,Fall Line Endurance Fund (Open-Ended),Fall Line Capital,15168,Agribusiness,2019.0,North America,United States,Currently Investing,Venture Capital / Growth Equity,2016.0,NaN,NaN,7.0,285000000.0,USD,NaN,NaN,NaN
3,39769,Star Mountain U.S. LMM Secondary Fund II,Star Mountain Capital,1671,Diversified,2020.0,North America,United States,Currently Investing,Secondaries,2020.0,500000000.0,USD,12.0,200000000.0,USD,1st Close,NaN,NaN
4,43372,Waterfall Sentinel Fund I,Waterfall Asset Management,19136,Diversified,2019.0,North America,United States,Currently Investing,Buyout / Corporate Private Equity,2019.0,300000000.0,USD,1.0,80000000.0,USD,1st Close,NaN,NaN

In [33]:
df2.managerId.nunique()

1826

In [34]:
fund_managers = df2.filter(['managerId', 'manager'], axis=1)

In [35]:
fund_managers.head()

   managerId                     manager
0       6381     Ascent Venture Partners
1      15168           Fall Line Capital
2      15168           Fall Line Capital
3       1671       Star Mountain Capital
4      19136  Waterfall Asset Management

In [36]:
fund_managers.columns =['fm_id',
                     'fm_name']

In [38]:
fund_managers.to_csv('buyouts_funds_csv/buyouts_fm_id.csv', index = False)

In [39]:
df3 = pd.read_csv('buyouts_funds_csv/fm_office.csv')

In [40]:
df3.head()

,fm_id,country,countyState,phoneNumber,city,streetAddress,webAddress,postalCode,region,headOffice,emailAddress
0,6381,United States,Massachusetts,1 617 720 9400,Bedford,"255 State Street, 5th Floor",www.ascentvp.com,01730,North America,True,NaN
1,15168,United States,California,1 650 235 4032,San Mateo,119 South B Street,www.fall-line-capital.com,94401,North America,True,info@fall-line-cap.com
2,1671,United States,New York,1 212 810 9044,New York,"2 Grand Central Tower 140 E. 45th Street, 37th Floor",www.starmountaincapital.com,10017,North America,True,info@starmountaincapital.com
3,1671,United States,Georgia,NaN,Atlanta,"1230 Peachtree Street, Suite 1900",NaN,30309,North America,False,NaN
4,1671,United States,Ohio,NaN,Cleveland,"Crown Center,5005 Rockside Road, Suite 600",NaN,44131,North America,False,NaN

In [41]:
df3.columns =[
    'fm_id',
    'country',
    'state',
    'phone',
    'city',
    'street_address',
    'web_address',
    'postal_code',
    'region',
    'head_office',
    'email'
]

In [42]:
df3['fm_office_id'] = np.random.randint(1,df3.shape[0] , df3.shape[0])

In [43]:
list_of_columns3 = df3.columns.tolist()

In [44]:
list_of_columns3.insert(0, list_of_columns3.pop(-1))

In [45]:
list_of_columns3.insert(2, list_of_columns3.pop(-3))

In [46]:
list_of_columns3.insert(df3.columns.get_loc('street_address')+3,list_of_columns3.pop(-3))

In [47]:
list_of_columns3.insert(df3.columns.get_loc('postal_code') + 1, list_of_columns3.pop(5))

In [48]:
list_of_columns3.insert(-2, list_of_columns3.pop(-1))

In [49]:
list_of_columns3[0:]

['fm_office_id',
 'fm_id',
 'region',
 'country',
 'state',
 'city',
 'street_address',
 'postal_code',
 'phone',
 'email',
 'web_address',
 'head_office']

In [50]:
df3 = df3.reindex(columns= list_of_columns3)

In [51]:
df3.to_csv('buyouts_funds_csv/buyouts_fm_office.csv', index = False)

In [52]:
df4 = pd.read_csv('buyouts_funds_csv/fm_contact.csv')

In [53]:
df4.head()

,fm_id,firstname,surname,title,jobTitle,email,townCity,countryName,telephone
0,6381,Luke,Burns,Mr.,General Partner,lburns@ascentvp.com,Bedford,United States,NaN
1,6381,Christopher,Dick,Mr.,Founding Partner and General Partner,cdick@ascentvp.com,Bedford,United States,NaN
2,6381,Matt,Fates,Mr.,General Partner,mfates@ascentvp.com,Bedford,United States,NaN
3,6381,Geoffrey (Geoff),Oblak,Mr.,General Partner,goblak@ascentvp.com,Bedford,United States,NaN
4,6381,Brian,Girvan,Mr.,General Partner,bgirvan@ascentvp.com,Bedford,United States,NaN

In [54]:
df4.columns =[
    'fm_id',
    'first_name',
    'surname',
    'title',
    'job_title',
    'email',
    'city',
    'country',
    'phone'
]

In [55]:
df4['fm_contact_id'] = np.random.randint(1,df4.shape[0] , df4.shape[0])

In [56]:
list_of_columns4 = df4.columns.tolist()

In [57]:
list_of_columns4[0:]

['fm_id',
 'first_name',
 'surname',
 'title',
 'job_title',
 'email',
 'city',
 'country',
 'phone',
 'fm_contact_id']

In [58]:
list_of_columns4.insert(0, list_of_columns4.pop(-1))

In [59]:
df4 = df4.reindex(columns= list_of_columns4)

In [60]:
df4.to_csv('buyouts_funds_csv/buyouts_fm_contact.csv', index = False)

In [61]:
df5 = pd.read_csv('buyouts_funds_csv/fm_sectors.csv')

In [62]:
df5.head()

   fm_id                  sector hasAppetite
0   1671            Agribusiness       False
1   1671  Biotech / Life Science       False
2   1671       Business Services       False
3   1671  Clean Tech / Renewable       False
4   1671          Consumer Goods       False

In [63]:
df5.tail()

        fm_id             sector hasAppetite
124657  18204  Natural Resources       False
124658  18204              Other       False
124659  18204             Retail       False
124660  18204                TMT       False
124661  18204          Transport       False

In [64]:
df5.fm_id.nunique()

213

In [65]:
df5.columns =[
    'fm_id',
    'sector',
    'has_appetite'
]

In [66]:
df5 = df5.drop_duplicates()

In [67]:
df5['fm_sector_id']= np.random.randint(1,df5.shape[0] , df5.shape[0])

In [68]:
list_of_columns5 = df5.columns.tolist()

In [69]:
list_of_columns5.insert(0, list_of_columns5.pop(-1))

In [70]:
df5 = df5.reindex(columns= list_of_columns5)

In [71]:
df5.to_csv('buyouts_funds_csv/buyouts_fm_sectors.csv', index = False)

In [72]:
df6 = pd.read_csv('buyouts_funds_csv/fm_strategy.csv')

In [73]:
df6.head()

   fm_id        regions                       strategy
0   1671  North America  Fund of Funds / Co-Investment
1   1671  North America  Fund of Funds / Co-Investment
2   1671  North America               Mezzanine / Debt
3   1671  North America               Mezzanine / Debt
4   1671  North America                    Secondaries

In [74]:
df6.fm_id.nunique()

213

In [75]:
df6 = df6.drop_duplicates()

In [76]:
df6['fm_strategy_id']= np.random.randint(1,df6.shape[0] , df6.shape[0])

In [77]:
list_of_columns6 = df6.columns.tolist()

In [78]:
list_of_columns6.insert(0, list_of_columns6.pop(-1))

In [79]:
df6 = df6.reindex(columns= list_of_columns6)

In [80]:
df6.to_csv('buyouts_funds_csv/buyouts_fm_strategy.csv', index = False)

In [81]:
df7 = pd.read_csv('buyouts_funds_csv/buyouts_historical_funds.csv')

In [82]:
df7.head()

,fund_id,fund_name,manager_id,manager,close_year,strategy,fund_size_amt,fund_currency
0,10011,IPF II,5553.0,iD TechVentures,2004,Venture Capital / Growth Equity,540000000.0,USD
1,10048,Fortune IC Fund,5532.0,Fortune Venture Investment Group,2005,Venture Capital / Growth Equity,13000000.0,USD
2,10111,Harbinger II Venture Capital,5542.0,Harbinger Venture Management,2000,Venture Capital / Growth Equity,10000000.0,USD
3,10144,4D Global Energy Development Capital Fund I,6822.0,4D Global Energy Advisors,2003,Venture Capital / Growth Equity,81000000.0,USD
4,10192,FPCI Innovation III,6426.0,Innovation Capital,2001,Venture Capital / Growth Equity,50000000.0,EUR

In [95]:
sorted_df7 = df7.sort_values(by=['close_year'], ascending=True)
sorted_df7.head()

,fund_id,fund_name,manager_id,manager,close_year,strategy,fund_size_amt,fund_currency
765,23717,Warburg Pincus Associates,5591.0,Warburg Pincus,1980,Venture Capital / Growth Equity,101000000.0,USD
298,14874,Kleiner Perkins Caufield & Byers II,6562.0,Kleiner Perkins,1980,Venture Capital / Growth Equity,55000000.0,USD
32,10708,TA Associates / Advent IV,6694.0,TA Associates,1980,Venture Capital / Growth Equity,60000000.0,USD
428,15603,Excelsior Fund,6373.0,Apax Partners,1981,Venture Capital / Growth Equity,25530000.0,USD
358,15213,New Enterprise Associates II,6610.0,New Enterprise Associates,1981,Venture Capital / Growth Equity,45310000.0,USD

In [98]:
sorted_df7.to_csv('buyouts_funds_csv/buyouts_historical_funds.csv', index=False)