In [6]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import numpy as np
import json
from pandas import json_normalize

In [7]:
cookies = {
    'AWSALBCORS': 'zcT47GgYwAWYJa4Mwb73aSACICuifSWQGKI1mcKjcudJMgCuO0rcpFSs5SVYlXp1VIE5Dz0Z+KY4pazyCVpubGnw+PZR4ZhJCzESJWfSbGjQD7RN2UWrLAzV05qT',
}

headers = {
    'authority': 'ra.pei.blaize.io',
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9',
    'blaize_session': 'f3785f44-ff8a-4825-8c2b-80c348fcc4cb',
    # 'cookie': 'AWSALBCORS=zcT47GgYwAWYJa4Mwb73aSACICuifSWQGKI1mcKjcudJMgCuO0rcpFSs5SVYlXp1VIE5Dz0Z+KY4pazyCVpubGnw+PZR4ZhJCzESJWfSbGjQD7RN2UWrLAzV05qT',
    'origin': 'https://www.buyoutsinsider.com',
    'referer': 'https://www.buyoutsinsider.com/',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="100", "Google Chrome";v="100"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"macOS"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'cross-site',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36',
    'x-pei-asset-classes': '1,4,7,8',
}

In [8]:
df = pd.read_csv('buyouts_lp_csv/buyouts_lp_orig.csv')
LP_ID = df['ID'].to_list()

In [9]:
len(LP_ID)

4146

In [10]:
i = 645
first_part = ('https://ra.pei.blaize.io/api/v2/buyouts/institutions/')
url = (first_part + str(i) + "/branches")
r = requests.get(url, headers=headers, cookies=cookies)
s = bs(r.content, 'lxml')
txt = s.get_text()
if not txt:
    print("no data in " + str(i))
dict1 = json.loads(txt)
d2 = json.dumps(dict1,indent=2)
print(d2)

{
  "data": [
    {
      "country": "United States",
      "countyState": "Pennsylvania",
      "emailAddress": "invest@bucknell.edu",
      "phoneNumber": "1 570 577 2000",
      "city": "Lewisburg",
      "streetAddress": "333 Cooley Hall",
      "webAddress": "www.bucknell.edu",
      "postalCode": "17837",
      "region": "North America",
      "headOffice": true
    }
  ],
  "paywall": {}
}

In [12]:
df2 = pd.DataFrame()

In [13]:
i = 645
first_part = ('https://ra.pei.blaize.io/api/v2/buyouts/institutions/')
url = (first_part + str(i) + "/branches")
r = requests.get(url, headers=headers, cookies=cookies)
s = bs(r.content, 'lxml')
txt = s.get_text()
if not txt:
    print("no data in " + str(i))
dict1 = json.loads(txt)
df2 = df2.append(pd.json_normalize(dict1['data']))

In [14]:
df2.head()

,country,countyState,emailAddress,phoneNumber,city,streetAddress,webAddress,postalCode,region,headOffice
0,United States,Pennsylvania,invest@bucknell.edu,1 570 577 2000,Lewisburg,333 Cooley Hall,www.bucknell.edu,17837,North America,True

In [15]:
df1 = pd.DataFrame(columns =['lp_id'])

In [16]:
for i in LP_ID:
    first_part = ('https://ra.pei.blaize.io/api/v2/buyouts/institutions/')
    url = (first_part + str(i) + "/branches")
    r = requests.get(url, timeout=(10,200), headers=headers, cookies=cookies)
    s = bs(r.content, 'lxml')
    txt = s.get_text()
    if not txt:
        print("no data in " + str(i))
        continue
    df1 = df1.append({'lp_id':i}, ignore_index=True)
    dict2 = json.loads(txt)
    df1 = df1.append(pd.json_normalize(dict2['data']),ignore_index=True)
    print(str(i) + " done")

3 done
4 done
5 done
8 done
9 done
10 done
14 done
15 done
16 done
18 done
19 done
20 done
23 done
24 done
25 done
26 done
27 done
28 done
30 done
31 done
32 done
33 done
34 done
35 done
37 done
38 done
40 done
41 done
42 done
45 done
48 done
50 done
54 done
55 done
59 done
60 done
62 done
64 done
65 done
66 done
67 done
68 done
71 done
72 done
73 done
74 done
75 done
76 done
78 done
81 done
82 done
83 done
84 done
85 done
86 done
87 done
89 done
90 done
91 done
92 done
93 done
94 done
95 done
96 done
97 done
98 done
99 done
100 done
101 done
107 done
110 done
111 done
112 done
113 done
114 done
115 done
116 done
117 done
118 done
119 done
121 done
122 done
124 done
127 done
128 done
129 done
130 done
131 done
132 done
133 done
135 done
136 done
137 done
139 done
143 done
145 done
146 done
147 done
148 done
150 done
152 done
153 done
154 done
155 done
157 done
158 done
160 done
161 done
162 done
164 done
165 done
166 done
167 done
168 done
170 done
172 done
174 done
175 done
177 done
178 done
179 done
180 done
182 done
184 done
186 done
188 done
189 done
190 done
191 done
193 done
194 done
196 done
198 done
199 done
201 done
202 done
203 done
205 done
206 done
207 done
208 done
209 done
210 done
212 done
213 done
215 done
216 done
217 done
218 done
219 done
220 done
221 done
223 done
224 done
226 done
227 done
229 done
232 done
233 done
234 done
236 done
237 done
238 done
239 done
240 done
241 done
243 done
244 done
245 done
249 done
250 done
251 done
253 done
255 done
257 done
258 done
262 done
263 done
265 done
266 done
267 done
268 done
270 done
271 done
272 done
273 done
274 done
275 done
276 done
282 done
283 done
284 done
285 done
286 done
287 done
288 done
289 done
290 done
291 done
293 done
294 done
295 done
296 done
297 done
300 done
302 done
303 done
304 done
305 done
306 done
307 done
309 done
311 done
314 done
315 done
316 done
318 done
320 done
321 done
322 done
323 done
324 done
325 done
327 done
328 done
329 done
330 done
331 done
336 done
337 done
338 done
340 done
341 done
343 done
344 done
347 done
349 done
350 done
351 done
352 done
354 done
355 done
356 done
357 done
359 done
362 done
364 done
366 done
368 done
369 done
370 done
371 done
372 done
373 done
374 done
375 done
377 done
379 done
381 done
383 done
384 done
386 done
387 done
388 done
389 done
390 done
392 done
394 done
396 done
397 done
399 done
401 done
403 done
404 done
405 done
408 done
409 done
410 done
414 done
415 done
416 done
417 done
418 done
420 done
422 done
423 done
426 done
427 done
428 done
429 done
432 done
433 done
434 done
436 done
437 done
441 done
443 done
445 done
449 done
450 done
451 done
452 done
453 done
454 done
455 done
456 done
457 done
458 done
460 done
461 done
463 done
465 done
466 done
467 done
469 done
470 done
471 done
472 done
474 done
475 done
476 done
477 done
478 done
480 done
481 done
482 done
483 done
484 done
486 done
487 done
489 done
490 done
492 done
495 done
497 done
498 done
499 done
500 done
502 done
504 done
506 done
507 done
508 done
509 done
510 done
511 done
512 done
513 done
514 done
515 done
516 done
517 done
518 done
519 done
520 done
521 done
522 done
523 done
524 done
525 done
526 done
527 done
528 done
530 done
531 done
532 done
533 done
535 done
536 done
537 done
538 done
539 done
540 done
541 done
542 done
543 done
544 done
545 done
546 done
548 done
549 done
550 done
552 done
553 done
554 done
556 done
559 done
560 done
561 done
562 done
563 done
564 done
566 done
567 done
568 done
569 done
572 done
573 done
578 done
581 done
584 done
586 done
587 done
588 done
589 done
591 done
592 done
593 done
594 done
596 done
597 done
598 done
599 done
600 done
603 done
604 done
607 done
609 done
610 done
611 done
612 done
617 done
619 done
620 done
625 done
627 done
630 done
631 done
632 done
633 done
634 done
636 done
639 done
640 done
641 done
644 done
645 done
646 done
647 done
648 done
653 done
654 done
655 done
656 done
657 done
663 done
664 done
667 done
669 done
670 done
671 done
673 done
674 done
675 done
676 done
677 done
681 done
683 done
686 done
687 done
688 done
689 done
691 done
692 done
693 done
694 done
695 done
698 done
700 done
701 done
702 done
706 done
707 done
708 done
709 done
711 done
714 done
715 done
716 done
717 done
719 done
720 done
721 done
722 done
723 done
724 done
725 done
726 done
727 done
728 done
732 done
733 done
734 done
735 done
739 done
740 done
741 done
742 done
745 done
747 done
751 done
752 done
754 done
758 done
761 done
763 done
764 done
766 done
770 done
771 done
772 done
773 done
774 done
775 done
776 done
778 done
779 done
780 done
781 done
782 done
783 done
784 done
785 done
789 done
790 done
791 done
794 done
795 done
796 done
797 done
798 done
799 done
800 done
801 done
802 done
804 done
806 done
808 done
809 done
810 done
813 done
814 done
815 done
817 done
820 done
822 done
823 done
826 done
828 done
829 done
832 done
833 done
839 done
846 done
850 done
851 done
852 done
854 done
861 done
867 done
868 done
876 done
880 done
885 done
886 done
888 done
889 done
892 done
893 done
901 done
902 done
903 done
911 done
914 done
915 done
916 done
921 done
927 done
928 done
929 done
933 done
935 done
939 done
941 done
942 done
944 done
946 done
950 done
954 done
959 done
965 done
975 done
978 done
979 done
987 done
996 done
997 done
1004 done
1005 done
1008 done
1013 done
1015 done
1018 done
1020 done
1022 done
1025 done
1033 done
1034 done
1039 done
1040 done
1041 done
1043 done
1045 done
1046 done
1049 done
1053 done
1056 done
1057 done
1065 done
1067 done
1071 done
1075 done
1079 done
1082 done
1084 done
1086 done
1088 done
1089 done
1097 done
1100 done
1101 done
1102 done
1103 done
1106 done
1107 done
1109 done
1116 done
1117 done
1118 done
1124 done
1128 done
1130 done
1137 done
1139 done
1145 done
1148 done
1150 done
1151 done
1155 done
1160 done
1162 done
1172 done
1173 done
1176 done
1177 done
1181 done
1183 done
1192 done
1194 done
1196 done
1197 done
1198 done
1202 done
1203 done
1211 done
1217 done
1218 done
1220 done
1221 done
1223 done
1228 done
1236 done
1239 done
1241 done
1245 done
1247 done
1248 done
1250 done
1255 done
1260 done
1261 done
1262 done
1264 done
1273 done
1277 done
1284 done
1286 done
1290 done
1292 done
1299 done
1301 done
1307 done
1308 done
1315 done
1317 done
1318 done
1323 done
1324 done
1325 done
1326 done
1327 done
1328 done
1329 done
1330 done
1331 done
1333 done
1335 done
1340 done
1349 done
1355 done
1357 done
1358 done
1359 done
1361 done
1362 done
1366 done
1371 done
1372 done
1375 done
1376 done
1379 done
1382 done
1386 done
1389 done
1392 done
1393 done
1399 done
1402 done
1405 done
1409 done
1410 done
1414 done
1417 done
1422 done
1427 done
1433 done
1435 done
1438 done
1441 done
1447 done
1451 done
1461 done
1462 done
1466 done
1468 done
1470 done
1471 done
1472 done
1473 done
1474 done
1476 done
1478 done
1479 done
1480 done
1481 done
1483 done
1487 done
1488 done
1491 done
1492 done
1493 done
1494 done
1495 done
1497 done
1498 done
1499 done
1500 done
1507 done
1509 done
1510 done
1511 done
1512 done
1513 done
1514 done
1515 done
1516 done
1517 done
1518 done
1519 done
1520 done
1521 done
1522 done
1523 done
1524 done
1525 done
1527 done
1528 done
1529 done
1530 done
1531 done
1533 done
1534 done
1535 done
1538 done
1540 done
1541 done
1542 done
1544 done
1548 done
1549 done
1551 done
1555 done
1556 done
1559 done
1561 done
1562 done
1569 done
1572 done
1573 done
1574 done
1579 done
1582 done
1586 done
1587 done
1588 done
1595 done
1596 done
1597 done
1598 done
1600 done
1603 done
1607 done
1610 done
1615 done
1618 done
1623 done
1625 done
1626 done
1628 done
1633 done
1635 done
1640 done
1649 done
1650 done
1651 done
1655 done
1657 done
1658 done
1663 done
1665 done
1671 done
1672 done
1675 done
1676 done
1678 done
1679 done
1683 done
1687 done
1688 done
1690 done
1695 done
1697 done
1698 done
1699 done
1702 done
1706 done
1708 done
1709 done
1710 done
1713 done
1716 done
1718 done
1721 done
1722 done
1723 done
1724 done
1725 done
1726 done
1727 done
1728 done
1729 done
1732 done
1733 done
1734 done
1735 done
1736 done
1737 done
1738 done
1739 done
1742 done
1745 done
1747 done
1748 done
1751 done
1752 done
1754 done
1757 done

1758 done
1761 done
1762 done
1764 done
1767 done
1768 done
1770 done
1777 done
1779 done
1780 done
1782 done
1784 done
1786 done
1791 done
1796 done
1798 done
1799 done
1800 done
1801 done
1802 done
1806 done
1807 done
1809 done
1811 done
1814 done
1816 done
1818 done
1819 done
1821 done
1822 done
1824 done
1827 done
1830 done
1831 done
1832 done
1837 done
1839 done
1840 done
1841 done
1844 done
1846 done
1847 done
1848 done
1849 done
1851 done
1854 done
1855 done
1857 done
1864 done
1866 done
1867 done
1868 done
1869 done
1870 done
1873 done
1874 done
1875 done
1876 done
1877 done
1878 done
1879 done
1880 done
1881 done
1882 done
1884 done
1885 done
1886 done
1888 done
1889 done
1891 done
1892 done
1894 done
1895 done
1897 done
1899 done
1900 done
1903 done
1905 done
1907 done
1908 done
1911 done
1913 done
1914 done
1915 done
1917 done
1919 done
1920 done
1921 done
1923 done
1924 done
1925 done
1926 done
1929 done
1930 done
1933 done
1934 done
1935 done
1936 done
1939 done
1940 done
1941 done
1943 done
1946 done
1947 done
1952 done
1958 done
1959 done
1961 done
1962 done
1966 done
1968 done
1970 done
1971 done
1972 done
1974 done
1978 done
1985 done
1986 done
1988 done
1992 done
1995 done
2000 done
2002 done
2005 done
2011 done
2015 done
2017 done
2019 done
2020 done
2021 done
2025 done
2026 done
2027 done
2029 done
2030 done
2031 done
2034 done
2037 done
2041 done
2042 done
2043 done
2044 done
2045 done
2046 done
2048 done
2049 done
2050 done
2053 done
2055 done
2056 done
2060 done
2061 done
2062 done
2063 done
2064 done
2065 done
2069 done
2070 done
2071 done
2072 done
2074 done
2076 done
2077 done
2078 done
2079 done
2080 done
2081 done
2082 done
2083 done
2084 done
2087 done
2088 done
2089 done
2093 done
2094 done
2095 done
2097 done
2098 done
2101 done
2103 done
2104 done
2105 done
2106 done
2110 done
2113 done
2118 done
2131 done
2132 done
2135 done
2136 done
2140 done
2145 done
2146 done
2148 done
2149 done
2150 done
2151 done
2152 done
2154 done
2157 done
2161 done
2164 done
2167 done
2170 done
2171 done
2175 done
2176 done
2177 done
2180 done
2187 done
2189 done
2190 done
2192 done
2193 done
2194 done
2200 done
2201 done
2204 done
2206 done
2207 done
2210 done
2211 done
2213 done
2215 done
2220 done
2221 done
2224 done
2228 done
2235 done
2237 done
2238 done
2239 done
2240 done
2242 done
2243 done
2244 done
2245 done
2246 done
2247 done
2248 done
2249 done
2252 done
2253 done
2254 done
2255 done
2259 done
2261 done
2263 done
2264 done
2265 done
2272 done
2274 done
2275 done
2276 done
2279 done
2280 done
2281 done
2282 done
2283 done
2284 done
2287 done
2292 done
2295 done
2296 done
2297 done
2298 done
2299 done
2300 done
2302 done
2308 done
2309 done
2310 done
2311 done
2312 done
2314 done
2316 done
2317 done
2318 done
2319 done
2324 done
2325 done
2326 done
2327 done
2329 done
2331 done
2333 done
2334 done
2338 done
2339 done
2340 done
2342 done
2344 done
2345 done
2346 done
2347 done
2351 done
2352 done
2353 done
2356 done
2358 done
2360 done
2362 done
2364 done
2370 done

ReadTimeout: HTTPSConnectionPool(host='ra.pei.blaize.io', port=443): Read timed out. (read timeout=10)

In [32]:
df1.head()

,lp_id,country,countyState,emailAddress,phoneNumber,city,streetAddress,webAddress,postalCode,region,headOffice,office_id
1,3,United States,Maryland,abell@abell.org,1 410 547 1300,Baltimore,Suite 2300 111 S. Calvert Street,www.abell.org,21202-6174,North America,True,None
3,4,Netherlands,NaN,NaN,31 20 628 9898,Amsterdam,Gustav Mahlerlaan 10,www.abnamro.com,1082 PP,Western Europe,True,None
5,5,Hong Kong,NaN,NaN,852 3769 0300,Hong Kong,Chater House 8 Connaught Road Central,www.abp.nl,NaN,Asia-Pacific,False,None
6,5,United States,New York,NaN,1 917 368 3500,New York,666 Third Avenue Second Floor,www.abp.nl,10017,North America,False,None
7,5,Netherlands,NaN,pensioenen@abp.nl,31 45 579 91 11,Heerlen,Oude Lindestraat 70,www.abp.nl,6411 EJ,Western Europe,True,None

In [18]:
df1.tail()

,lp_id,country,countyState,emailAddress,phoneNumber,city,streetAddress,webAddress,postalCode,region,headOffice
3356,NaN,Switzerland,NaN,NaN,41 41 419 56 26,Luzern,Fluhmattstrasse 1,www.suva.ch,6002,Western Europe,True
3357,2364.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3358,NaN,United Kingdom,NaN,pensions@gwynedd.llyw.cymru,44 1286 679 982,Caernarfon,"Pensions Section, Gwynedd Council\nCouncil Off...",www.gwynedd.llyw.cymru,LL55 1SH,Western Europe,True
3359,2370.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3360,NaN,United States,Virginia,NaN,1 703 821 4900,McLean,6885 Elm Street,www.mars.com,22101,North America,True

In [19]:
df1.lp_id.nunique()

1191

In [20]:
df1.lp_id.fillna(method='ffill', inplace = True)

In [21]:
df1.shape

(3361, 11)

In [22]:
 df1['lp_id'] = df1['lp_id'].apply(np.int64)

In [23]:
df1.dropna(thresh=6, axis=0, inplace = True)

In [24]:
df1.drop_duplicates(inplace = True)

In [25]:
df1.shape

(2170, 11)

In [26]:
df1['streetAddress'].replace('\r', ' ', regex=True, inplace = True)

In [27]:
df1['streetAddress'].replace('\n', ' ', regex=True, inplace = True)

In [28]:
df1.tail()

,lp_id,country,countyState,emailAddress,phoneNumber,city,streetAddress,webAddress,postalCode,region,headOffice
3352,2358,Switzerland,NaN,NaN,41 22 928 88 00,Geneva,Du Pont de Nemours Building Chemin du Pavillon...,NaN,1218,Western Europe,False
3354,2360,United States,Arizona,asuf.info@asu.edu,1 480 965 3759,Tempe,300 East University Drive,www.asufoundation.org,85280,North America,True
3356,2362,Switzerland,NaN,NaN,41 41 419 56 26,Luzern,Fluhmattstrasse 1,www.suva.ch,6002,Western Europe,True
3358,2364,United Kingdom,NaN,pensions@gwynedd.llyw.cymru,44 1286 679 982,Caernarfon,"Pensions Section, Gwynedd Council Council Offices",www.gwynedd.llyw.cymru,LL55 1SH,Western Europe,True
3360,2370,United States,Virginia,NaN,1 703 821 4900,McLean,6885 Elm Street,www.mars.com,22101,North America,True

In [46]:
np.random.seed(len(df1))
df1['office_id'] = np.random.randint(1, len(df1), df1.shape[0])

In [47]:
df1.rename(columns={'countyState':'county_state', 'emailAddress':'email', 'phoneNumber':'phone',
                   'streetAddress':'street_address', 'webAddress':'web_address', 'postalCode':'postal_code',
                   'headOffice':'head_office'}, inplace=True)

In [48]:
df1 = df1[['office_id', 'lp_id', 'email', 'phone', 'web_address', 'street_address', 'city', 'county_state',
          'postal_code', 'country', 'region', 'head_office']]

In [49]:
df1.head()

,office_id,lp_id,email,phone,web_address,street_address,city,county_state,postal_code,country,region,head_office
1,367,3,abell@abell.org,1 410 547 1300,www.abell.org,Suite 2300 111 S. Calvert Street,Baltimore,Maryland,21202-6174,United States,North America,True
3,783,4,NaN,31 20 628 9898,www.abnamro.com,Gustav Mahlerlaan 10,Amsterdam,NaN,1082 PP,Netherlands,Western Europe,True
5,1014,5,NaN,852 3769 0300,www.abp.nl,Chater House 8 Connaught Road Central,Hong Kong,NaN,NaN,Hong Kong,Asia-Pacific,False
6,1927,5,NaN,1 917 368 3500,www.abp.nl,666 Third Avenue Second Floor,New York,New York,10017,United States,North America,False
7,551,5,pensioenen@abp.nl,31 45 579 91 11,www.abp.nl,Oude Lindestraat 70,Heerlen,NaN,6411 EJ,Netherlands,Western Europe,True

In [50]:
df1.to_csv('buyouts_lp_csv/lp_office.csv', index = False)

In [51]:
df2 = pd.read_csv('buyouts_lp_csv/lp_office.csv')

In [52]:
df2.head()

,office_id,lp_id,email,phone,web_address,street_address,city,county_state,postal_code,country,region,head_office
0,367,3,abell@abell.org,1 410 547 1300,www.abell.org,Suite 2300 111 S. Calvert Street,Baltimore,Maryland,21202-6174,United States,North America,True
1,783,4,NaN,31 20 628 9898,www.abnamro.com,Gustav Mahlerlaan 10,Amsterdam,NaN,1082 PP,Netherlands,Western Europe,True
2,1014,5,NaN,852 3769 0300,www.abp.nl,Chater House 8 Connaught Road Central,Hong Kong,NaN,NaN,Hong Kong,Asia-Pacific,False
3,1927,5,NaN,1 917 368 3500,www.abp.nl,666 Third Avenue Second Floor,New York,New York,10017,United States,North America,False
4,551,5,pensioenen@abp.nl,31 45 579 91 11,www.abp.nl,Oude Lindestraat 70,Heerlen,NaN,6411 EJ,Netherlands,Western Europe,True