In [19]:
import requests 
from bs4 import BeautifulSoup as bs
import pandas as pd
import json
from pandas import json_normalize

In [20]:
cookies = {
    'AWSALBCORS': '0VL6/gIE9zm5rWHa3KY5A0Awn47akgwCKsyTXB86Opj280uLaAgqlt9ZISwMYKrN+kxhEdgRORy3iI1mKs5M0SMutQwdOOb/NuqL7FAiczUAn0AMujMXZnkqFDAh',
}

headers = {
    'authority': 'ra.pei.blaize.io',
    'accept': '*/*',
    'accept-language': 'en-US,en;q=0.9',
    'blaize_session': 'f1fd92fc-3c0f-49a5-9986-1d657cc89b16',
    # 'cookie': 'AWSALBCORS=0VL6/gIE9zm5rWHa3KY5A0Awn47akgwCKsyTXB86Opj280uLaAgqlt9ZISwMYKrN+kxhEdgRORy3iI1mKs5M0SMutQwdOOb/NuqL7FAiczUAn0AMujMXZnkqFDAh',
    'origin': 'https://www.buyoutsinsider.com',
    'referer': 'https://www.buyoutsinsider.com/',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="100", "Google Chrome";v="100"',
    'sec-ch-ua-mobile': '?0',
    'sec-ch-ua-platform': '"macOS"',
    'sec-fetch-dest': 'empty',
    'sec-fetch-mode': 'cors',
    'sec-fetch-site': 'cross-site',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.88 Safari/537.36',
    'x-pei-asset-classes': '1,4,7,8',
}

In [21]:
response = requests.get('https://ra.pei.blaize.io/api/v2/buyouts/funds/in-market?count=4000&start=0&sort=targetFundSize.amount:desc', headers=headers, cookies=cookies)
soup = bs(response.content, 'lxml')
text = soup.get_text()
dictionary = json.loads(text)
df= pd.json_normalize(dictionary['data'])

In [22]:
df.columns= [
    'ID',
    'Name',
    'FundManager',
    'FundManagerID',
    'Strategy',
    'Region',
    'Sector',
    'VintageYear',
    'YearOpened',
    'MonthsOpened',
    'TargetSize',
    'Currency'
]

In [23]:
list_col =  df.columns.to_list()
df = df.reindex(columns= list_col)
df = df.sort_values(by='ID' ,ascending = True)
df.to_csv ('Buyouts_Funds.csv', index = False)

In [2]:
cookies = {
    'AWSALBCORS': 'FVv0kaWG5A4+5flQGhblhuKr32aly3lRL+V80UeiRYTf20doVPMbVs1LXr1SnaL5SBfLJr5v9NKZJRknlO4VjUMGfVWOIzvy3Q9YHXC4YsDXEHrMUuZ63k4gbNDe',
}

headers = {
    'authority': 'ra.pei.blaize.io',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="99", "Google Chrome";v="99"',
    'x-pei-asset-classes': '1,4,7,8',
    'blaize_session': '7b01eb19-d66a-49ca-86d0-49a5d1c93fbb',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.84 Safari/537.36',
    'sec-ch-ua-platform': '"macOS"',
    'accept': '*/*',
    'origin': 'https://www.buyoutsinsider.com',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.buyoutsinsider.com/',
    'accept-language': 'en-US,en;q=0.9',
    # 'cookie': 'AWSALBCORS=FVv0kaWG5A4+5flQGhblhuKr32aly3lRL+V80UeiRYTf20doVPMbVs1LXr1SnaL5SBfLJr5v9NKZJRknlO4VjUMGfVWOIzvy3Q9YHXC4YsDXEHrMUuZ63k4gbNDe',
}

In [5]:
reply = requests.get('https://ra.pei.blaize.io/api/v2/buyouts/institutions?count=4200&start=0&sort=name:asc&lp=true', headers=headers, cookies=cookies)
broth = bs(reply.content,'lxml')
txt = broth.get_text()
dict1 = json.loads(txt)
df1 = pd.json_normalize(dict1['data'])

504 Gateway Time-out

504 Gateway Time-out

In [ ]:
df1.columns = [
    'ID',
    'Name',
    'Type',
    'TypeID',
    'HQ',
    'AssetAmount',
    'Currency'
]

In [ ]:
list_col1 =  df1.columns.to_list()
df1 = df1.reindex(columns= list_col1)
df1 = df1.sort_values(by='ID' ,ascending = True)
df1.to_csv ('Buyouts_LP.csv', index = False)

In [59]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [71]:
df2 = pd.read_csv('Buyouts_LP.csv')

In [ ]:
https://ra.pei.blaize.io/api/v2/buyouts/funds/in-market?count=3000&start=0&sort=name:desc
https://ra.pei.blaize.io/api/v2/buyouts/funds/in-market?count=200&start=200&sort=name:desc

### historical funds scraping

In [8]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
import json
cookies = {
    'AWSALBCORS': 'oe/xpT8DF5OOWeyHKg2T0lqe2xs27nzaKkodjfTbdh/M3HK54BHGqoAjh2k/uCAjNozr0hHPWx08gH6uu8MbSwaPdF8Ox7g12Xq1P5zqPLcPCxb1KEiHLeglz8Yl',
}

headers = {
    'authority': 'ra.pei.blaize.io',
    'sec-ch-ua': '" Not A;Brand";v="99", "Chromium";v="99", "Google Chrome";v="99"',
    'x-pei-asset-classes': '1,4,7,8',
    'dnt': '1',
    'blaize_session': '701588e9-92d7-4872-bc4e-4a69e344cb7e',
    'sec-ch-ua-mobile': '?0',
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.84 Safari/537.36',
    'sec-ch-ua-platform': '"macOS"',
    'accept': '*/*',
    'origin': 'https://www.buyoutsinsider.com',
    'sec-fetch-site': 'cross-site',
    'sec-fetch-mode': 'cors',
    'sec-fetch-dest': 'empty',
    'referer': 'https://www.buyoutsinsider.com/',
    'accept-language': 'en-US,en;q=0.9',
    # 'cookie': 'AWSALBCORS=oe/xpT8DF5OOWeyHKg2T0lqe2xs27nzaKkodjfTbdh/M3HK54BHGqoAjh2k/uCAjNozr0hHPWx08gH6uu8MbSwaPdF8Ox7g12Xq1P5zqPLcPCxb1KEiHLeglz8Yl',
}

In [9]:
response = requests.get('https://ra.pei.blaize.io/api/v2/buyouts/funds?count=7159&start=0&sort=yearOfClose:asc&strategy=Venture%20Capital%20%2F%20Growth%20Equity%7C%7CVenture%20Capital%20%2F%20Growth%20Equity&yearOfClose=1980%7C%7C1981%7C%7C1982%7C%7C1983%7C%7C1984%7C%7C1985%7C%7C1986%7C%7C1987%7C%7C1988%7C%7C1989%7C%7C1990%7C%7C1991%7C%7C1992%7C%7C1993%7C%7C1994%7C%7C1995%7C%7C1996%7C%7C1997%7C%7C1998%7C%7C1999%7C%7C2000%7C%7C2001%7C%7C2002%7C%7C2003%7C%7C2004%7C%7C2005%7C%7C2006%7C%7C2007%7C%7C2008%7C%7C2009%7C%7C2010%7C%7C2011%7C%7C2012%7C%7C2013%7C%7C2014%7C%7C2015%7C%7C2016%7C%7C2017%7C%7C2018%7C%7C2019%7C%7C2020%7C%7C2021%7C%7C2022', cookies=cookies, headers=headers)
soup = bs(response.content, 'lxml')
text = soup.get_text()
dictionary = json.loads(text)
historicalfunds = json.dumps(dictionary, indent = 2)

with open('buyouts_historical_funds.json', 'w') as file :
    json.dump(historicalfunds, file)

In [10]:
url = f'https://www.buyoutsinsider.com/database/?_gl=1*6ricp8*_ga*MjE0MTgyODk5NC4xNjQ4NzQ1NTk1*_ga_W9T5V092TZ*MTY1MTE2MjQ4Ny43LjEuMTY1MTE2MjUwMC4w#?pctx=gqF2pjMuMS4yMqJJU94AHqFhwqFiwqFjw6FkqG5hbWU6YXNjoWWobmFtZTphc2OhZq95ZWFyT2ZDbG9zZTphc2OhecOhd8CheMCiYTEAomIxy0I289NtAAAAomMxAKJkMctCXRqUogAAAaFukKFzkKF0kKF2kKFskKFtkKFrkKJnMZK%2FVmVudHVyZSBDYXBpdGFsIC8gR3Jvd3RoIEVxdWl0eb9WZW50dXJlIENhcGl0YWwgLyBHcm93dGggRXF1aXR5omgxkKJpMZChcZChcpChasChdZChb5ChcJChetwAK80HvM0Hvc0Hvs0Hv80HwM0Hwc0Hws0Hw80HxM0Hxc0Hxs0Hx80HyM0Hyc0Hys0Hy80HzM0Hzc0Hzs0Hz80H0M0H0c0H0s0H080H1M0H1c0H1s0H180H2M0H2c0H2s0H280H3M0H3c0H3s0H380H4M0H4c0H4s0H480H5M0H5c0H5g%3D%3D'
response = requests.get('https://www.google-analytics.com/j/collect', headers=headers)
soup = bs(response.content, 'lxml')
print(soup.prettify)

<bound method Tag.prettify of <html><body><p>1</p></body></html>>

In [11]:
historicaldf = pd.json_normalize(dictionary['data'])

In [13]:
historicaldf.head()

,id,name,fundManagerId,fundManager,yearOfClose,strategySummary,fundSize.amount,fundSize.currency
0,14874,Kleiner Perkins Caufield & Byers II,6562,Kleiner Perkins,1980,Venture Capital / Growth Equity,55000000.0,USD
1,10708,TA Associates / Advent IV,6694,TA Associates,1980,Venture Capital / Growth Equity,60000000.0,USD
2,23717,Warburg Pincus Associates,5591,Warburg Pincus,1980,Venture Capital / Growth Equity,101000000.0,USD
3,15603,Excelsior Fund,6373,Apax Partners,1981,Venture Capital / Growth Equity,25530000.0,USD
4,15213,New Enterprise Associates II,6610,New Enterprise Associates,1981,Venture Capital / Growth Equity,45310000.0,USD

In [16]:
historicaldf.columns = [
    'fund_id',
    'fund_name',
    'manager_id',
    'manager',
    'close_year',
    'strategy',
    'fund_size_amt',
    'fund_currency',
]

In [18]:
historicaldf.head()

,fund_id,fund_name,manager_id,manager,close_year,strategy,fund_size_amt,fund_currency
0,14874,Kleiner Perkins Caufield & Byers II,6562,Kleiner Perkins,1980,Venture Capital / Growth Equity,55000000.0,USD
1,10708,TA Associates / Advent IV,6694,TA Associates,1980,Venture Capital / Growth Equity,60000000.0,USD
2,23717,Warburg Pincus Associates,5591,Warburg Pincus,1980,Venture Capital / Growth Equity,101000000.0,USD
3,15603,Excelsior Fund,6373,Apax Partners,1981,Venture Capital / Growth Equity,25530000.0,USD
4,15213,New Enterprise Associates II,6610,New Enterprise Associates,1981,Venture Capital / Growth Equity,45310000.0,USD

In [19]:
historicaldf_col = historicaldf.columns.to_list()
historicaldf = historicaldf.reindex(columns = historicaldf_col)
historicaldf = historicaldf.sort_values(by='fund_id', ascending = True)
historicaldf.to_csv ('buyouts_historical_funds.csv', index = False)